*.db
.idea
*.iml
venv
.gitattributes
__pycache__
logs.log
logs.log.1
logs.log.2
logs.log.3
logs.log.4
logs.log.5
frontend/.env
static/profile_images
!static/profile_images/base_avatar.jpg
# Local Netlify folder
.netlify
