.container{
    display: none;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
}

.spinner {
	width: 10vh;
    height: 10vh;
	position: absolute;
	margin-top: 5vh;
	margin-left: 5vh;
	border-radius: 50%;
	border: 5px solid #eaf5fe;
	border-right-color: #5597d4;
	animation: rotateSpinner 800ms linear infinite;
}

@keyframes rotateSpinner {
	to {
		transform: rotate(360deg);
	}
}