<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MovieDB - Admin operation</title>
	<link rel="icon" href="/static/aroma-master/img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="/static/aroma-master/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/static/aroma-master/vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/static/aroma-master/vendors/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="/static/aroma-master/vendors/linericon/style.css">
  <link rel="stylesheet" href="/static/aroma-master/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/static/aroma-master/vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="/static/aroma-master/css/style.css">
</head>
<body>
  <!--================ Start Header Menu Area =================-->
  {% include 'header.html' %}
	<!--================ End Header Menu Area =================-->

	<!-- ================ contact section start ================= -->
  <section class="section-margin--small">
    <div class="container">

      <div class="row">
        <div class="col-md-8 col-lg-9">
          <form action="#/" class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  Title:
                  <br>
                  <input class="form-control" name="title" id="title" type="text" placeholder="">
                </div>
                <div class="form-group">
                  Release year:
                  <br>
                  <input class="form-control" name="release_year" id="release_year" type="text" placeholder="">
                </div>
                <div class="form-group">
                  Length:
                  <br>
                  <input class="form-control" name="movie_length" id="movie_length" type="text" placeholder="">
                </div>
                <div class="form-group">
                  Genre:
                  <br>
                  <input class="form-control" name="genre" id="genre" type="text" placeholder="">
                </div>
                <div class="form-group">
                  Language:
                  <br>
                  <input class="form-control" name="language" id="language" type="text" placeholder="">
                </div>
                <div class="form-group">
                  IMDB's URL:
                  <br>
                  <input class="form-control" name="imdb_url" id="imdb_url" type="text" placeholder="">
                </div>
              </div>
            </div>
            <div class="form-group text-center text-md-right mt-3">
              <button type="submit" class="button button--active button-contactForm">Confirm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
	<!-- ================ contact section end ================= -->
  
  <!--================ Start footer Area  =================-->	
	{% include 'footer.html' %}
	<!--================ End footer Area  =================-->

  <script src="/static/aroma-master/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="/static/aroma-master/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/static/aroma-master/vendors/skrollr.min.js"></script>
  <script src="/static/aroma-master/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="/static/aroma-master/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="/static/aroma-master/vendors/jquery.form.js"></script>
  <script src="/static/aroma-master/vendors/jquery.validate.min.js"></script>
  <script src="/static/aroma-master/vendors/contact.js"></script>
  <script src="/static/aroma-master/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="/static/aroma-master/vendors/mail-script.js"></script>
  <script src="/static/aroma-master/js/main.js"></script>
  <script src="/static/aroma-master/js/admin.js"></script>
</body>
</html>