<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MovieDB - Admin panel</title>
	<link rel="icon" href="static/aroma-master/img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="static/aroma-master/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="static/aroma-master/vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="static/aroma-master/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="static/aroma-master/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="static/aroma-master/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="static/aroma-master/vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="static/aroma-master/css/style.css">
  <link rel="stylesheet" href="static/aroma-master/css/heart-full.css">
</head>
<body>

  <!--================ Start Header Menu Area =================-->
  {% include 'header.html' %}
	<!--================ End Header Menu Area =================-->

  <main class="site-main">
    <!--================Order Details Area =================-->
    
  <section class="order_details section-margin--small">
    <div class="container">
        <h2><button class="btn btn-success" onclick="window.open('/admin/operation');">Add a new film</button></h2>
        <h4>or</h4>
    </div>

    <div class="container">

      <h2>Edit/Delete existing films</h2>
      <div class="order_details_table">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Film</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody id="lista">
              <tr></tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>
  <!--================End Order Details Area =================--> 

  </main>

  <!-- Popup di conferma -->
  <div id="popup"></div>


  <!--================ Start footer Area  =================-->	
	{% include 'footer.html' %}
	<!--================ End footer Area  =================-->



  <script src="static/aroma-master/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="static/aroma-master/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="static/aroma-master/vendors/skrollr.min.js"></script>
  <script src="static/aroma-master/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="static/aroma-master/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="static/aroma-master/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="static/aroma-master/vendors/mail-script.js"></script>
  <script src="static/aroma-master/js/main.js"></script>
  <script src="static/aroma-master/js/admin.js"></script>
</body>
</html>