<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Home</title>
	<link rel="icon" href="static/aroma-master/img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="static/aroma-master/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="static/aroma-master/vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="static/aroma-master/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="static/aroma-master/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="static/aroma-master/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="static/aroma-master/vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="static/aroma-master/css/style.css">
  <link rel="stylesheet" href="static/aroma-master/css/heart-full.css">
</head>
<body>

  <!--================ Start Header Menu Area =================-->
  {% include 'header.html' %}
	<!--================ End Header Menu Area =================-->

  <main class="site-main">

    <!-- ================ trending product section start ================= -->  
    <section class="section-margin calc-60px">
      <div class="container" style="text-align: center;">
        <div class="section-intro pb-60px">
          <!--<p>Popular Item in the market</p>-->
          <h2>Trending <span class="section-intro__style">Films</span></h2>
        </div>

            <div id="moviesList" class="row"></div> <!--DIV CHE CONTIENE TUTTI I FILM-->

      </div>
    </section>
    <!-- ================ trending product section end ================= -->  

    <!-- ================ Best Selling item  carousel ================= --> 
    <!--<section class="section-margin calc-60px">
        {% block content %}
            {% include 'body.html' %}
        {% endblock %}
    </section>-->
    <!-- ================ Best Selling item  carousel end ================= --> 

  </main>

  <!--================ Start footer Area  =================-->	
	{% include 'footer.html' %}
	<!--================ End footer Area  =================-->



  <script src="static/aroma-master/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="static/aroma-master/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="static/aroma-master/vendors/skrollr.min.js"></script>
  <script src="static/aroma-master/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="static/aroma-master/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="static/aroma-master/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="static/aroma-master/vendors/mail-script.js"></script>
  <script src="static/aroma-master/js/main.js"></script>
  <script src="static/aroma-master/js/index-movies.js"></script>
</body>
</html>