{% include 'header.html' %}
<link rel="stylesheet" href="/static/vendors/nouislider/nouislider.min.css">
	  
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">{% include 'filters.html' %}</div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <section class="lattest-product-area pb-40 category-list">
            <h3>Favourites</h3>
            <div id="prefe" class="row"></div>
          </section>
        </div>
      </div>
    </div>
  </section>
	  
  <script defer src="/static/vendors/nouislider/nouislider.min.js"></script>
  <script defer type="module" src="/static/js/fav-movies.js"></script>
  {% include 'footer.html' %}