<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<head>
		<script defer type="text/javascript" src="/static/scripts/manager.js"></script>
        <link rel="stylesheet" href="/static/css/manager.css">
	</head>
</head>
<body>
    <div class="container" id="container_search">
        <h1>
            Quest DIV è visibile solo in ricerca.
        </h1>

        <a href="/create" onclick="return manager.goCreate()">Crea nuovo</a>

        <form>
            <input type="text" name="title" id="input_title" value="">
            <input type="text" name="release_year" id="input_release_year" value="">

            <button type="submit">Cerca</button>
        </form>
        <div id="container_search_main">

        </div>
    </div>

    <div class="container" id="container_create">
        <h1>
            Quest DIV è visibile solo in Creazione
        </h1>

        <a href="/search" onclick="return manager.goSearch()">
            Torna alla ricerca
        </a>
        <br>

        <div id="container_create_main">

        </div>
    </div>

    <div class="container" id="container_update">
        <h1>
            Quest DIV è visibile solo in Modifica
        </h1>

        <a href="/search" onclick="return manager.goSearch()">
            Torna alla ricerca
        </a>
        <br>

        <div id="container_update_main">

        </div>
    </div>

    <div class="container" id="container_delete">
        <h1>
            Quest DIV è visibile solo in Pagina di cancellazione
        </h1>

        <a href="/search" onclick="return manager.goSearch()">
            Torna alla ricerca
        </a>
        <br>

        <div id="container_delete_main">

        </div>
    </div>

    <div class="container" id="container_read">
        <h1>
            Quest DIV è visibile solo in Lettura
        </h1>

        <a href="/search" onclick="return manager.goSearch()">
            Torna alla ricerca
        </a>
        <br>

        <div id="container_read_main">

        </div>
    </div>
</body>
</html>